@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
}
.container {
  margin: 80px auto;
  display: flex;
  flex-direction: column;
}
/******* HEADER *******/
header {
  margin-bottom: 30px;
}
header h1 {
  color: #502050;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin: 0 64px 30px 64px;
}
header p {
  color: #937B92;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 28px 0 28px;
}

/******* STARS RATING *******/
.stars_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.stars {
  background-color: #D8C5D8;
  border-radius: 4px;
  margin: 8px 0;
  width: 330px;
  padding: 15px;
  font-weight: 7000;
  color: #502050;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.stars .five_stars {
  min-width: 110px;
}
.stars .text {
  min-width: 240px;
  text-align: center;
}
/******* FOOTER *******/
.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: #3E52A3;
}